@page
@{
    ViewContext.ViewData["Title"] = "About";
}

<p>
    <b>Your Rights, Your Life</b> was developed through the joint efforts of The Mockingbird Society and
    the Washington State Department of Social and Health Services’ Children's Administration.
</p>

<p>
    The Mockingbird Society and Children's Administration would like to thank the outstanding youth
    and alumni of foster care who contributed to this project, whose courage, resiliency, and hope
    provide the inspiration for the work we do. Additionally, we would like to thank the following
    organizations for their assistance in reviewing and editing the updates of this manual:
</p>

<p>
    <b>
        Columbia Legal Services<br />
        Treehouse<br />
        Office of the Family & Children's Ombuds<br />
    </b>
</p>

<hr />

<p>
    The Mockingbird Society is an advocacy organization that works with young people and families to
    improve foster care and end youth homelessness. Our youth programs train young people who have been
    homeless or in foster care to be their own best advocates. By doing so, they change policies and
    perceptions that stand in the way of every child having a safe and stable home. Our family programs
    advocate for innovation in the way services such as foster care are delivered. Together, our solutions
    focus on improving the social service systems that ultimately serve thousands of children, youth and
    families each year in Washington and beyond.
</p>
<div class="row" style="margin-top: 24px;">
    <div class="col-sm-4">
        <img src="~/images/MockingbirdLogoCMYK.png" class="img-responsive" style="width: 300px;" alt="" role="presentation" />
    </div>
    <div class="col-sm-8">
        <p>
            2100 24th Ave S. Ste. 240<br />
            Seattle, WA 98144<br />
            Phone: (206) 323-KIDS (5437)<br />
            Fax: (206) 323-1003<br />
            E-mail: info@mockingbirdsociety.org<br />
        </p>
    </div>
</div>
<p class="small">
    The Mockingbird Society is a Washington state 501(c)(3) tax-exempt organization. All contributions are tax deductible to the fullest extent of the law. Please consult your tax advisor regarding your specific tax situation.
</p>

<hr />

<p>
    <b>Passion to Action</b> (P2A) is a statewide youth-led advisory board to Washington State’s Children’s Administration (CA).
    CA understands the importance of partnering with our youth in the work we do. P2A members provide CA with input,
    feedback and recommendations regarding the agency’s policies, practices and publications. Additionally, CA utilizes
    P2A members in many of the agency’s training courses and presentations to ensure that caseworkers, foster parents and
    the community at large learn about the experience of being in the foster care system from those who have the expertise,
    youth in care and alumni.
</p>

<div class="row" style="margin-top: 24px;">
    <div class="col-sm-4">
        <img src="~/images/p2alogo.jpg" class="img-responsive" style="width: 300px;" alt="" role="presentation" />
    </div>
    <div class="col-sm-8">
        <p>
            P2A provides an outlet for youth who want to advocate for other youth while working with peers who have similar backgrounds.
            P2A promotes friendships, leadership, professionalism and success of our members.
        </p>
    </div>
</div>

<hr />

<div class="row" style="margin-top: 24px;">
    <div class="col-sm-4">
        <img src="~/images/DoSHSCAlogo.jpg" class="img-responsive" style="width: 300px;" alt="" role="presentation" />
    </div>
    <div class="col-sm-8">
        <p>
            <b>Department of Social and Health Services</b><br />
            Children’s Administration<br />
            PO Box 45710<br />
            Olympia, WA 98504<br />
            Toll-Free phone: 1-866-END-HARM<br />
            Website: www.dshs.wa.gov/ca<br />
        </p>
    </div>
</div>