@page
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>
    <b>Your Rights, Your Life</b> was developed through the joint efforts of The Mockingbird Society and
    the Washington State Department of Social and Health Services’ Children's Administration.
</p>

<p>
    The Mockingbird Society and Children's Administration would like to thank the outstanding youth
    and alumni of foster care who contributed to this project, whose courage, resiliency, and hope
    provide the inspiration for the work we do. Additionally, we would like to thank the following
    organizations for their assistance in reviewing and editing the updates of this manual:
</p>

<p>
    <b>
        Columbia Legal Services<br />
        Treehouse<br />
        Office of the Family & Children's Ombuds<br />
    </b>
</p>

<hr />

<p>
    The Mockingbird Society is an advocacy organization that works with young people and families to
    improve foster care and end youth homelessness. Our youth programs train young people who have been
    homeless or in foster care to be their own best advocates. By doing so, they change policies and
    perceptions that stand in the way of every child having a safe and stable home. Our family programs
    advocate for innovation in the way services such as foster care are delivered. Together, our solutions
    focus on improving the social service systems that ultimately serve thousands of children, youth and
    families each year in Washington and beyond.
</p>
<p>
    2100 24th Ave S. Ste. 240<br />
    Seattle, WA 98144<br />
    Phone: (206) 323-KIDS (5437)<br />
    Fax: (206) 323-1003<br />
    E-mail: info@mockingbirdsociety.org<br />
</p>
<p class="small">
    The Mockingbird Society is a Washington state 501(c)(3) tax-exempt organization. All contributions are tax deductible to the fullest extent of the law. Please consult your tax advisor regarding your specific tax situation.
</p>

<hr />