@page
@{
    ViewData["Title"] = "Attorney";
}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <a asp-page="/Court" class="btn btn-large btn-primary">Court Proceedings</a>
        </div>
    </div>
</div>