@page
@{
    ViewContext.ViewData["Title"] = "Caseworker Responsibilities";
}
<h1>@ViewData["Title"]</h1>

<p>Every youth in foster care has a caseworker who provides services to help the family get
back together, whenever possible, and to keep the youth safe and well cared for while in
foster care</p>

<h2>Here is what you can expect from your caseworker during your foster care placement:</h2>
<ul>
    <li>Help you and your family access available services to help you be reunited as a family, whenever possible.</li>
    <li>Schedule regular contact or visits for you with your parents and siblings, unless otherwise ordered by the court.</li>
    <li>Explore the option of placing you with a relative or suitable adult, if appropriate, before putting you in a licensed foster home or group care home.</li>
    <li>Keep you in the same school or school district (if practical and in your best interest). Provide a referral to Treehouse Educational Advocacy or Graduation Success for educational support services.</li>
    <li>At age 12, explain how you can request an attorney to help you through your dependency process and communicate to the court your desire to have an attorney, if that is something you want.</li>
    <li>Place you with caring foster parents or caregivers who are properly trained, have received background checks and screenings, and who receive adequate support to help provide stability in your placement.</li>
    <li>Ensure your dependency case is heard in court at a hearing every six months.</li>
    <li>Inform you when your dependency hearings are being held.</li>
    <li>Assist or facilitate transportation to and from court hearings that you may want to attend.</li>
    <li>Provide you with information about your rights and CA’s responsibilities if you are pregnant or parenting.</li>
    <li>Provide resources for services that meet all your individual needs if you are pregnant or parenting.</li>
    <li>See you at least once a month to talk to you about your health and safety.</li>
</ul>

<h2>Your caseworker will also have conversations with you about:</h2>
<ul>
    <li>Why you are in foster care.</li>
    <li>How the foster care system works.</li>
    <li>vWhat will be happening to you and your family, including your siblings.</li>
    <li>What is expected of you in your foster care placement.</li>
    <li>What a case plan is and what is included in your case plan.</li>
    <li>What transition planning is and what services or skills you need to live independently.</li>
    <li>What efforts are being made to safely reunify you with your family.</li>
    <li>What interests you have and provide opportunities for “normal” childhood activities.</li>
    <li>What will happen if you are still in foster care at age 18 and how you can prepare the transition to adulthood.</li>
</ul>

<h2>For youth over the age of 14, your caseworker will:</h2>
<ul>
    <li>Help you obtain your consumer credit report annually and assist to resolve any discrepancies that come up until you reach age 18.</li>
    <li>Include you in all permanency and Shared Planning meetings and give you the option to invite two people, other than your caseworker and foster parent, to attend those meetings with you. </li>
    <li>Identify the services or skills you need for transition planning.</li>
    <li>Collaborate with you, your caregiver and support systems in finalizing a transition plan for moving out of foster care.</li>
    <li>Conduct Shared Planning Meetings between age 17 and 17.5 and develop a plan for your safe and successful transition to adulthood. Know and understand the process to request continuing foster care and support services beyond age 18 through the EFC program.</li>
    <li>Provide you with personal documents when needed and upon your exit from foster care, including birth certificate, social security card, State Identicard, immunization records, medical insurance information and a copy of your health and education records. You can also request your records after leaving foster care.</li>
</ul>
