@page
@{
    ViewData["Title"] = "File a Complaint";
}
<h1>@ViewData["Title"]</h1>

<p>
    <b>If you feel any of your rights are not being protected, contact your caseworker, GAL/CASA, or attorney.</b>
</p>
<h2>Constituent Relations</h2>
<p>
    You may contact CA Constituent Relations if you have any questions, complaints, or concerns about your case.
    Constituent Relations staff will return your call within 24 hours and will work with you to resolve your
    complaint or concern. In addition, staff will assist you in understanding the child welfare system and the
    progress of your individual case. CA Constituent Relations can be contacted by email at
    ConstRelations@dshs.wa.gov or by telephone at 1-800-723-4831 or 360-902-8060.
</p>
<h2>Family and Children's Ombuds</h2>
<div class="row" style="margin-top: 24px;">
    <div class="col-sm-4">
        <p>
            You also may ask the Office of the Family and Children's Ombuds to investigate your case.
        </p>
        <h3>File a Complaint Online</h3>
        <p>
            The online form for filing complaints can be found at <a href="http://ofco.wa.gov/">http://ofco.wa.gov/</a>.
        </p>
        <h3>By Phone</h3>
        <p>
            Toll free phone: 1-800-571-7321<br />
            Phone: 206-439-3870<br />
            TTY: 206-439-3789<br />
            Fax: 206-439-3877<br />
        </p>
        <h3>By Mail</h3>
        <p>
            Office of the Family and Children's Ombuds<br />
            6840 Fort Dent Way, Suite 125<br />
            Mail Stop TT-99<br />
            Tukwila, WA 98188<br />
        </p>
    </div>
    <div class="col-sm-8">
        <img src="~/images/old-friend.png" class="img-responsive" style="width: 500px;" alt="" role="presentation" />
    </div>
</div>