@page
@{
    ViewData["Title"] = "Court Proceedings";
}
<h1>@ViewData["Title"]</h1>

<p>They are YOUR RIGHTS.  Be informed.</p>

<h2>As a youth in foster care, you have a right to:</h2>

<ul>
    <li>
        Have a Court Appointed Special Advocate (CASA) or Guardian Ad Litem (GAL)
        appointed to represent your best interest in your dependency case.
    </li>
    <li>
        Request an attorney at any time to represent you so you can have a voice in your
        court-ordered plan.
    </li>
    <li>Access and review your case file.</li>
    <li>Have your case plan reviewed in court every six months.</li>
    <li>At age 14 and older, be consulted about your permanent plan.</li>
    <li>Be notified of and participate in your dependency hearings.</li>
    <li>
        Be appointed an attorney to represent your position six months after your parents’
        rights have been terminated.
    </li>
    <li>
        Be appointed an attorney if you decide to participate in and are eligible for the
        Extended Foster Care (EFC ) program.
    </li>
</ul>

<p>It is YOUR LIFE. Be involved.</p>

<h2>During your dependency hearings, you have the option to:</h2>

<ul>
    <li>Attend court hearings.</li>
    <li>
        Ask a foster parent or someone else you know to request that an attorney be
        appointed to represent you.
    </li>
    <li>Ask if you can visit with extended family or someone who is important to you.</li>
    <li>
        Ask the court whether you can move back home. Even if your parents’ parental
        rights have been terminated, you may be able to ask the court to place you back
        with your parents or allow you to visit them. The court grants such requests in rare
        circumstances; an attorney can explain this option to you.
    </li>
</ul>

<p>
    If the court order says you cannot live at home or if the court places you in foster care, there are people to
    support you! Talk with your caseworker about getting an attorney and/or a CASA/GAL if one has not been
    appointed for you.
</p>