@page
@{
    ViewData["Title"] = "Education";
}
<h1>@ViewData["Title"]</h1>
<p>They are YOUR RIGHTS.  Be informed.</p>

<h2>As a youth in foster care, you have a right to:</h2>
<ul>
    <li>Attend school.</li>
    <li>Remain in the same school even when you move to a foster home, when it is
possible and in your best interest to do so.</li>
    <li>Enter school within three days of placement into foster care or placement change.</li>
    <li>Be appointed an educational liaison at your court hearings if you are in grades 6-12
and meet the following requirements:
        <ul>
            <li>Your parents’ rights have been terminated;</li>
            <li>Your parents are unavailable because of incarceration or other limits;</li>
            <li>The court has restricted contact between you and your parents; or</li>
            <li>You are placed in a behavioral rehabilitative setting and the court has limited the
educational rights of your parents.</li>
        </ul>
    </li>
</ul>

<div class="row" style="margin-top: 24px;">
    <div class="col-sm-8">
        <h3 style="margin-top: 0px">Tips for Success</h3>
        <ul>
            <li>Take classes that engage and challenge you.</li>
            <li>Meet with your high school counselor and make sure you are tracking your credits needed for graduation</li>
            <li>Get involved with activities like sports or after-school clubs. If you don't have money or transportation for these options, check with your foster parent, caseworker, or Independent Living provider, as there may be assistance for you.</li>
        </ul>
    </div>
    <div class="col-sm-4">
        <img src="~/images/tips_for_success.jpg" class="img-responsive" style="width: 160px;" alt="" role="presentation" />
    </div>
</div>

<p style="margin-top: 24px;">It is YOUR LIFE. Be involved.</p>

<h2>Your education is important for your future</h2>
<ul>
    <li>Being in foster care does not mean you should miss school. If school is in session and
you are not attending school within three days of entering foster care or moved to
another foster home, call your caseworker, Education Advocate (if you have one),
attorney, CASA/GAL or Education Ombuds (866-297-2597) to ask for help.</li>
    <li>If you are in special education, you should have an Individualized Education Program
(IEP) or a 504 plan. Ask your caseworker and anyone else involved in your case if you
have questions about your IEP or 504 plan. Participate in your IEP/504 meetings.
If you are 14 or older, your IEP or 504 plan should be discussed in your Shared
Planning meetings.</li>
    <li>If you are suspended or expelled, ask for notice in writing and call your caseworker
to ask for support from a Treehouse Educational Advocate or TeamChild
representative. Ask for copies of your education records and transcript and stay
informed about your credits progress. Ask your school counselor about options to
make up lost work if needed.</li>
    <li> Talk to your caseworker, Independent Living provider, or school counselor about
the many educational options you can explore, such as: Running Start, alternative
education, vocational education, or college to find out which one is right for you.</li>
    <li>Your caseworker, Independent Living provider or school counselor can explain the
many programs/scholarships available to help pay for continuing your education
(college or other post-secondary educational programs). Some of these include:
        <ul>
            <li>College Bound Scholarship</li>
            <li>Independent Living Program</li>
            <li>Educational and TrainingVoucher (ETV) Program</li>
            <li>Governor’s Scholarship</li>
            <li>Passport for Foster Youth Promise Scholarship</li>
        </ul>
    </li>
</ul>

<p class="small" style="margin-top: 36px">Find a supportive adult that can help you with the right choices for your future. Ask a caseworker,
counselor, teacher, or principal to assist you with any process you don't fully understand.</p>