@page
@{
    ViewData["Title"] = "Foster Parent";
}
<div class="container">
    <div class="row">
        <div class="col-sm-offset-1 col-sm-2">
            <a asp-page="/Safety" class="btn btn-large btn-primary">Safety and Well-Being</a>
        </div>
        <div class="col-sm-offset-1 col-sm-2">
            <a asp-page="/Education" class="btn btn-large btn-primary">Education</a>
        </div>
        <div class="col-sm-offset-1 col-sm-2">
            <a asp-page="/HealthCare" class="btn btn-large btn-primary">Health Care</a>
        </div>
    </div>
</div>