@page
@{
    ViewContext.ViewData["Title"] = "Foster Youth";
}

<div class="row">
    <div class="col-sm-offset-2 col-sm-4">
        <a asp-page="/Complaint" asp-route-role="FosterYouth" class="btn btn-card btn-danger">File a complaint</a>
    </div>
    <div class="col-sm-4">
        @* Needs content *@
        <a asp-page="/Complaint" asp-route-role="FosterYouth" class="btn btn-card btn-danger">I'm having an emergency</a>
    </div>
</div>

<h2  class="text-center rolepageheader">Learn your rights</h2>
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <div class="row">
            <div class="col-sm-4">
                <a asp-page="/Education" asp-route-role="FosterYouth" class="btn btn-card btn-primary">Education</a>
            </div>
            <div class="col-sm-4">
                <a asp-page="/HealthCare" asp-route-role="FosterYouth" class="btn btn-card btn-primary">Health Care</a>
            </div>
            <div class="col-sm-4">
                <a asp-page="/Placement" asp-route-role="FosterYouth" class="btn btn-card btn-primary">Placement and Visitation</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <div class="row">
            <div class="col-sm-4">
                <a asp-page="/Safety" asp-route-role="FosterYouth" class="btn btn-card btn-primary">Safety and Well-Being</a>
            </div>
            <div class="col-sm-4">
                <a asp-page="/Court" asp-route-role="FosterYouth" class="btn btn-card btn-primary">Court Proceedings</a>
            </div>
            <div class="col-sm-4">
                <a asp-page="/Caseworker" asp-route-role="FosterYouth" class="btn btn-card btn-primary">Caseworker Responsibilities</a>
            </div>
        </div>
    </div>
</div>
