@page
@{
    ViewData["Title"] = "Foster Parent";
}

<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <div class="row">
            <div class="col-md-4">
                <a asp-page="/Safety" class="btn btn-card btn-primary">Safety and Well-Being</a>
            </div>
            <div class="col-md-4">
                <a asp-page="/Education" class="btn btn-card btn-primary">Education</a>
            </div>
            <div class="col-md-4">
                <a asp-page="/HealthCare" class="btn btn-card btn-primary">Health Care</a>
            </div>
        </div>
    </div>
</div>
