@page
@{
    ViewData["Title"] = "Glossary of Legal Terms";
}
<h1>@ViewData["Title"]</h1>

<h2>Attorney:</h2>
<p>
    An attorney (or “lawyer”) represents what you want to have happen in your case, and advocates for you in court to protect your legal rights. Attorneys have to keep what you say completely confidential.  You do not automatically receive your own attorney even if you request one. The only time you automatically get an attorney is if your parents’ rights have been terminated AND it has been six months since termination of their rights, if you are petitioning the court to reinstate your parents’ parental rights, or if you are in Extended Foster Care. You should also get an attorney if you have no CASA/GAL. Contact your caseworker, your CASA/GAL, or any attorney involved in the case for more information.
</p>

<h2>Court Appointed Special Advocate (CASA) and Guardian Ad Litem (GAL):</h2>
<p>
    A CASA/GAL is an advocate who is appointed by the court to represent what they believe is in your best interests, which may differ from the interests of your parents, the state, or what you want to have happen in your case.
</p>

<h2>Dependent and Dependency Hearings:</h2>
<p>

    A child or youth is ordered a dependent when a juvenile court judge decides it is necessary to intervene in order to protect a child from abuse, neglect, abandonment, or harm that may result from a parent who is not able to meet the child’s needs. Once a dependency is ordered, the juvenile court will hold regular hearings to decide what steps the parents must take to have the child returned home, where the child should live if he or she cannot live at home, and what can be done to make sure the child is well cared-for including supervised, educated, and that their needs are met.
</p>

<h2>Foster Youth:</h2>
<p>
    A Foster Youth is anyone under the custody of the Department of Children, Youth, and Families (DCYF) Children’s Administration (CA) and has been placed away from his or her parents or guardians. This includes placement in a foster home, a relative’s home, a suitable adult’s home, or a group home.
</p>

<br />
<br />
<img src="~/images/advisor.jpg" class="img-responsive" width="500" alt="" />