@page
@{
    ViewContext.ViewData["Title"] = "Health Care";
}
<h1>@ViewData["Title"]</h1>

<p>They are YOUR RIGHTS.  Be informed.</p>

<h2>As a youth in foster care, you have a right to:</h2>
<div class="row" style="margin-top: 24px;">
    <div class="col-sm-8">
        <ul>
            <li>
                Be informed of your health needs,
                medications and medical history.
            </li>
            <li>Obtain annual well-check exams.</li>
            <li>
                Obtain dental exams every six months
                through age 18 and annually from ages 19
                to 26.
            </li>
            <li>
                Be informed about all the benefits and risks
                associated with all medicines, vitamins,
                and herbs that have been prescribed or
                recommended to you.
            </li>
            <li>
                Agree or disagree to taking any medicines,
                vitamins, herbs, and supplements that have
                been prescribed or recommended to you
                unless ordered to take them by the court or
                refuse reproductive health care, including birth control and/or counseling regarding
                birth control, without the consent of a parent or guardian.
            </li>
            <li>
                Receive medical coverage through Washington State’s health insurance (Medicaid)
                until age 26, if you are in foster care on your 18th birthday.
            </li>
        </ul>
    </div>
    <div class="col-sm-4">
        <img src="~/images/smiling_youth.jpg" class="img-responsive" style="width: 200px;" alt="" role="presentation" />
    </div>
</div>

<h2>If you are over the age of 13, you may also:</h2>

<ul>
    <li>
        Receive outpatient or inpatient mental health treatment without consent of a parent
        or guardian.
    </li>
    <li>
        Receive outpatient substance abuse treatment without consent of a parent or
        guardian.
    </li>
</ul>

<h2>If you are over the age of 14, you may also:</h2>

<ul>
    <li>
        Get tests and treatment for sexually transmitted infections without consent or
        knowledge of a parent or guardian.
    </li>
</ul>

<p>It is YOUR LIFE. Be involved.</p>

<h2>Find out about the options and services available to you.</h2>

<ul>
    <li>
        If you have been prescribed medication(s) by a medical professional or been asked
        by someone else to take medications and you do not want to take them, talk to your
        doctor, attorney, CASA/GAL, or case worker about what options might be available
        to you.
    </li>
    <li>
        If you are prescribed an anti-psychotic medication, the prescription must be
        reviewed and approved by a second doctor. If the second review did not occur, talk
        to your caseworker, attorney or CASA/GAL.
    </li>
    <li>
        If you find out you are expecting a baby, learn about all the options available to you.
        You should be free to make the best, informed decision for your life and your child’s
        life without consent or pressures from anyone else.
    </li>
    <li>
        You are eligible for medical insurance until you are 26 years old. Be sure to talk to
        your caseworker about how Medicaid coverage until age 26 works and whether you
        would continue to be covered if you moved to another state. Additionally, to ensure
        that you will continue receiving medical coverage after leaving foster care, contact
        the Foster Care MEDS Team at 1-800-547-3109 and provide a mailing address.
    </li>
</ul>
<br />
<img src="~/images/doctor.jpg" class="img-responsive" width="100%" alt="" />