@page
@model IndexModel
@{
    ViewData["Title"] = "Your Rights, Your Life";
}

<div class="row">
    <div class="container">
        <p class="col-sm-9 text-center">
            Choose your role to find resources about foster rights
        </p>
    </div>
    <div class="container">
        <div class="col-sm-3" style="width: 18rem;">
            <a asp-page="/FosterYouth" class="btn btn-large btn-primary">Foster Youth</a>
        </div>
        <div class="col-sm-3" style="width: 18rem;">
            <a asp-page="/SocialWorker" class="btn btn-large btn-primary">Social Worker</a>
        </div>
        <div class="col-sm-3" style="width: 18rem;">
            <a asp-page="/FosterParent" class="btn btn-large btn-primary">Foster Parent</a>
        </div>
        <div class="col-sm-3" style="width: 18rem;">
            <a asp-page="/Attorney" class="btn btn-large btn-primary">Attorney</a>
        </div>
    </div>
    <!--
    <div class="col-xs-12">
        <h1> A Resource Guide for Youth in Foster Care</h1>
        <p style="margin-top: 12px">
            This website is a resource to inform foster youth ages 12 and older of rights and policies that impact them during their time in foster care as outlined under Washington State Law.
        </p>
        <img src="~/images/foster_family.jpg" class="img-responsive" width="900" alt="Alternate Text" />
    </div>
    -->
</div>