@page
@model IndexModel
@{
    ViewData["Title"] = "Your Rights, Your Life";
}

<div class="row">
    <div class="col-xs-12">
        <h1>Your Rights, Your Life
            <div class="h3">A Resource Guide for Youth in Foster Care</div>
        </h1>
        <p style="margin-top: 12px">
            This website is a resource to inform foster youth ages 12 and older of rights and policies that impact them during their time in foster care as outlined under Washington State Law.
        </p>
        <img src="~/images/foster-family.png" class="img-responsive" width="900" alt="Alternate Text" />
    </div>
</div>

<div class="row" style="margin-top: 36px; display: flex; align-items: center;">
    <div class="col-sm-8">
        <p>A Foster Youth is anyone under the custody of the Department of Children, Youth, and Families (DCYF) Children’s Administration (CA) and has been placed away from his or her parents or guardians. This includes placement in a foster home, a relative’s home, a suitable adult’s home, or a group home.</p>
    </div>
    <div class="col-sm-4">
        <img src="~/images/youth.png" class="img-responsive" width="700" alt="" role="presentation" />
    </div>
</div>

<p class="small" style="margin-top: 36px">Disclaimer: This website is intended as a practical guide for youth in foster care. Although it refers to laws and policies that may affect
foster youth, it does not provide legal advice and the information in the manual should not be used or relied upon as legal advice. A
youth who wants to know how laws or policies apply to a specific situation should contact his or her attorney, caseworker, or Guardian
Ad Litem (GAL), or the Office of the Family and Children's Ombuds.</p>