@page
@model IndexModel
@{
    ViewData["Title"] = "Your Rights, Your Life";
}

<h1>Your Rights, Your Life</h1>
<h2>A Resource Guid for Youth in Foster Care</h2>
<p>
    This website is a resource to inform foster youth ages 12 and older of rights and policies that impact them during their time in foster care as outlined under Washington State Law.
</p>
<p>
    A Foster Youth is anyone under the custody of the Department of Children, Youth, and Families (DCYF) Children’s Administration (CA) and has been placed away from his or her parents or guardians.
    This includes placement in a foster home, a relative’s home, a suitable adult’s home, or a group home.
</p>