@page
@model IndexModel
@{
    ViewData["Title"] = "Your Rights, Your Life";
}

<h1>Your Rights, Your Life</h1>
<h2>A Resource Guide for Youth in Foster Care</h2>
<p>
    This website is a resource to inform foster youth ages 12 and older of rights and policies that impact them during their time in foster care as outlined under Washington State Law.
</p>
