@page
@model IndexModel
@{
    ViewData["Title"] = "Your Rights, Your Life";
}

<div class="row">
    <div class="container">
        <p class="col-sm-9 text-center">
        Choose your role to find resources about foster rights
        </p>
    </div>
    <div class="container">
        <div class="card col-sm-4 " style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Foster Youth - Under 18</h5>
            </div>
        </div>
        <div class="card col-sm-4" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Foster Youth - Over 18</h5>
            </div>
        </div>
        <div class="card col-sm-4" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Social Worker</h5>
            </div>
        </div>
        <div class="card col-sm-4" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Foster Parent</h5>
            </div>
        </div>
        <div class="card col-sm-4" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Attorney</h5>
            </div>
        </div>
    </div>
    <!--
    <div class="col-xs-12">
        <h1> A Resource Guide for Youth in Foster Care</h1>
        <p style="margin-top: 12px">
            This website is a resource to inform foster youth ages 12 and older of rights and policies that impact them during their time in foster care as outlined under Washington State Law.
        </p>
        <img src="~/images/foster_family.jpg" class="img-responsive" width="900" alt="Alternate Text" />
    </div>
    -->
</div>

<p class="small" style="margin-top: 36px">Disclaimer: This website is intended as a practical guide for youth in foster care. Although it refers to laws and policies that may affect
foster youth, it does not provide legal advice and the information in the manual should not be used or relied upon as legal advice. A
youth who wants to know how laws or policies apply to a specific situation should contact his or her attorney, caseworker, or Guardian
Ad Litem (GAL), or the Office of the Family and Children's Ombuds.</p>