@page
@{
    ViewData["Title"] = "Placement and Visitation";
}
<h1>@ViewData["Title"]</h1>

<p>They are YOUR RIGHTS.  Be informed.</p>

<h2>As a youth in foster care, you have a right to:</h2>

<ul>
    <li>
        Be placed in a residence where you are safe, that can meet your needs, and provide
        you with appropriate privacy for personal needs.
    </li>
    <li>Be placed in a home with your brothers and sisters whenever possible.</li>
    <li>
        Be placed with a willing and able relative or suitable adult you know and are
        comfortable with, when possible and appropriate.
    </li>
    <li>
        Regular and frequent contact or visits with your parents, unless otherwise ordered
        by the court. Regular contact or visits with your siblings when separated, unless the
        court orders that contact or visits are not appropriate.
    </li>
    <li>
        Make and receive private phone calls and letters, unless otherwise determined by
        the court.
    </li>
    <li>Live with your child if you are parenting and have custody of your child.</li>
</ul>

<h2>
    Foster care providers are required to protect your belongings and personal
    information by:
</h2>

<ul>
    <li>Providing you with space for storing your clothing and belongings.</li>
    <li>
        Keeping your records and personal information confidential and in a secure
        place. Only discussing information about you and your family with individuals
        directly involved with your case plan.
    </li>
</ul>

<p>It is YOUR LIFE. Be involved.</p>

<h2>Stay connected with the important people in your life.</h2>

<ul>
    <li>
        If you are not receiving regular contact or visits with your parents and/or siblings,
        you can tell your caseworker, your CASA/GAL, and/or your attorney that you want
        the visits to occur. Let others know how important the visits are to you and to your
        parents or siblings.
    </li>
    <li>
        Even if you are removed from your home and/or neighborhood, make an effort to
        maintain contact with important people in your life, such as relatives, friends, and
        teachers. These people may or may not be affiliated with the foster care system. If
        you need help maintaining contact, ask your caseworker, CASA/GAL, foster parent,
        or attorney to help you.
    </li>
</ul>