@page
@{
    ViewData["Title"] = "Additional Resources";
}
<h1>@ViewData["Title"]</h1>
<p>
    You can find additional information on the website <a href="https://www.independence.wa.gov">www.independence.wa.gov</a>
</p>
