@page
@{
    ViewData["Title"] = "Safety and Well-being";
}
<h2>@ViewData["Title"]</h2>

They are YOUR RIGHTS.  Be informed.

As a youth in foster care, you have a right to:
<ul>
    <li>Be protected from abuse and neglect.</li>
    <li>Have your basic needs met (food, clothing, shelter, and education).</li>
    <li>Be free from cruel, frightening, or unsafe discipline.</li>
    <li>Practice your own religion or none at all.</li>
    <li>Report abuse, neglect, exploitation, or violation of personal rights without fear of punishment, interference, or coercion.</li>
    <li>Take part in regular childhood activities (overnights with friends, after-school activities and sports).</li>
    <li>Be treated fairly and equally, whatever your gender, gender identity, race, religion, ethnicity, heritage and national origin, disability, medical problems, or sexual orientation and be addressed by the gender pronoun(s) you prefer.</li>
</ul>
