@page
@{
    ViewData["Title"] = "Safety and Well-Being";
}
<h1>@ViewData["Title"]</h1>
<p>They are YOUR RIGHTS. Be informed.</p>

<h2>As a youth in foster care, you have a right to:</h2
<ul>
    <li>Be protected from abuse and neglect.</li>
    <li>Have your basic needs met (food, clothing, shelter, and education).</li>
    <li>Be free from cruel, frightening, or unsafe discipline.</li>
    <li>Practice your own religion or none at all.</li>
    <li>Report abuse, neglect, exploitation, or violation of personal rights without fear of punishment, interference, or coercion.</li>
    <li>Take part in regular childhood activities (overnights with friends, after-school activities and sports).</li>
    <li>Be treated fairly and equally, whatever your gender, gender identity, race, religion, ethnicity, heritage and national origin, disability, medical problems, or sexual orientation and be addressed by the gender pronoun(s) you prefer.</li>
</ul>

<h2>Washington State Policies Affecting Youth in Foster Care</h2><h3>Under Washington State licensing requirements, foster care providers are
required to:</h3><ul>
    <li>Provide a nurturing and supportive environment</li>
    <li>Provide appropriate supplies and training in personal care, hygiene, and grooming.</li>
    <li>Provide healthy foods in portions appropriate for your age and activity level.</li>
    <li>Discipline you in a manner that is appropriate to your level of maturity,
developmental level, and medical status.</li>
</ul>

<h3>Note: Licensed foster care providers are forbidden from using:</h3>
<ul>
    <li>Parenting or disciplinary methods that include the use of corporal punishment
(spanking), sleep deprivation (not letting you sleep), or restraining and/or locking
you in a room or building.</li>
</ul>

<h3>Licensed foster care providers must follow the Prudent Parent Standard:</h3><ul>
    <li>Caregivers can, without caseworker or court involvement, approve normal childhood
activities based on what a reasonable and prudent parent would do.</li>
    <li>Caregivers can approve overnight stays for up to 72 hours.</li>
</ul><p>It is YOUR LIFE. Be involved.</p><h3>As a youth in foster care, there are many services available to you. Talk to your
caseworker about how you can:</h3>
<ul>
    <li>Apply for and receive Independent Living services, if you are in foster care 30 days
beyond age 15.</li>
    <li>Create a transition plan for when you leave foster care.</li>
    <li>Continue receiving foster care and support services beyond age 18, if you are in
foster care on your 18th birthday and you are:
        <ul>
            <li>Enrolled in high school or a high school equivalency program; </li>
            <li>Enrolled, applied for, or can show intent to enroll in a post-secondary academic
or post-secondary vocational certification program;</li>
            <li>Participating in a program or activity designed to promote or remove barriers
to employment; </li>
            <li>Employed 80 hours or more a month; or</li>
            <li>Unable to engage in any of the above activities due to a documented medical
condition.</li>
        </ul>
    </li>
    <li>Apply for housing vouchers, depending on where you live, if you are leaving foster
care on or after your 18th birthday. Housing vouchers are partial payments for rent
after leaving foster care. Vouchers are only available in certain areas of the state.</li>
</ul>

<h3>You can also talk to your caseworker about:</h3>
<ul>
    <li>What steps you can take to get a job</li>
    <li>What steps you can take to get your state identification card, driver education and a
driver license.</li>
</ul>
