@page
@{
    ViewData["Title"] = "Social Worker";
}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <a asp-page="/Caseworker" class="btn btn-large btn-primary">Caseworker Responsibilities</a>
        </div>
        <div class="col-sm-6">
            <a asp-page="/Placement" class="btn btn-large btn-primary">Placement and Visitation</a>
        </div>
    </div>
</div>