/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 20px;
    padding-right: 15px;
}


/*Use light grey colors for navigation bar*/
a {
    color: #333333;
}
.active {
    background-color: #d0d0d0;
}
.navbar-default {
    background-color: white;
}
a:hover {
    background-color: #dadada;
    color: #333333;
}
.navbar-collapse {
    padding-left: 0px;
    padding-right: 0px;
}
.col-sm-3 {
    padding-left: 0px;
    padding-right: 0px;
}
.page-header {
    background: linear-gradient(#9C6EBD, white);
    border-radius: 4px;
    height: 85px;
}
@media (max-width: 768px) {
    .header-text {
        position: relative;
        top: 20%;
    }
}


/*Use dark colors for navigation bar*/



/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
