/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 20px;
    padding-right: 15px;
}


/*Use light colors for navigation bar*/
.active {
    background-color: #d0d0d0;
}
li a {
    color: #333333;
}
li a :hover {
    background-color: #dadada;
    color: #333333;
}
.navbar-default {
    background-color: white;
}
.navbar-collapse {
    padding-left: 0px;
    padding-right: 0px;
}
.col-sm-3 {
    padding-left: 0px;
    padding-right: 0px;
}

/*Use dark colors for navigation bar*/


/* page header*/
.page-header {
    background-color: #9C6EBD;
    color: white;
    border-radius: 4px;
    height: 85px;
}
.header-text {
    width: 70%;
    float: left;
}
@media (max-width: 768px) {
    .header-text {
        position: relative;
        top: 20%;
    }
}
#___gcse_0 {
    width: 30%;
    float: left;
    position: relative;
    top: 15%;
}
#gs_tti50 {
    color: #333333;
}


/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h4,
h5,
h6 {
    font-size: 15px;
}

.btn-card {
    align-items: center;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    height: 65px;
    margin: 6px auto;
    white-space: initial;
    width: 155px;
}

@media screen and (min-width: 1200px) {
    .btn-card {
        width: 180px;   
    }
}
